body {
    margin: 0 2rem;
}

.jumbotron,
.card-header,
.btn {
    background-color: #008080;
    color: whitesmoke;
}

.btn:hover {
    color: whitesmoke;
    background-color: #006666;
}

.card {
    border-color: #008080;
    margin-bottom: 2.5rem;
}